/*******************************
 * Scene
 *******************************/
.scene-container {
    transform:none !important; width:100%;
}
scene {
    display:block;
    position:absolute; top:0; left:0; right:0; bottom:0;
    background-color:red;
}

/*******************************
 * Buttons
 *******************************/
.button {
    --width:60px;
    --height:58px;

    display:block;
    position:relative;
    background:transparent;
    width:var(--width); height:var(--height);
}
.button svg {position:absolute; top:0; left:0; width:100%;}
.button:active svg {transform:scale(.9);}

.button.how-to {--width:var(--btn-width-how-to); --height:var(--btn-height-how-to);}
.button.play {--width:var(--btn-width-play); --height:var(--btn-height-play);}

/* button toggle */
.button.toggle svg {display:none;}
.button.toggle.active .on,
.button.toggle:not(.active) .off {display:block;}


/*******************************
 * Nav
 *******************************/
.top-nav {
    position:fixed; top:0; left:0; width:100%;
    display:flex; justify-content:space-between; align-items:center;
    padding:var(--game-padding) var(--game-padding) 0;
}
.bottom-nav {
    position:fixed; bottom:var(--game-padding); left:50%;
    transform:translateX(-50%);
    padding:0 var(--game-padding);
}

.nav-block {display:flex; flex-wrap:wrap;}
.nav-block > button:not(:last-child) {margin-right:18px;}


/*******************************
 * Scene: Menu
 *******************************/
.welcome {
    position:fixed; top:50%; left:50%;
    transform:translate(-50%, 50%);
}