/*******************************
 * Pre-defined classes
 *******************************/
html {-webkit-text-size-adjust:none; font-family:var(--font-primary);}

/* Background size cover */
.w-bg-cover {background-size:cover; background-position:center; background-color:transparent;}
.w-bg-contain {background-size:contain; background-position:center; background-repeat:no-repeat;}
.w-bg-cover > img, .w-bg-contain > img {opacity:0; max-width:100%; max-height:100%;}

/* Keep aspect ratio using css */
.w-ratio-container {position:relative; padding-top:56.25%;}
.w-ratio-element {position:absolute; top:0; left:0; right:0; bottom:0;}

/* Display flex */
.w-flex {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.w-flex--inline {display:-ms-inline-flexbox;display:inline-flex;}
.w-flex--wrap {-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.w-flex--align-center {-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.w-flex--align-start {
    -webkit-box-align:start;-webkit-align-items:flex-start;
    -moz-box-align:start;-ms-flex-align:start;align-items:flex-start;
}
.w-flex--align-end {-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;}
.w-flex--justify-space-around {-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around;}
.w-flex--justify-space-between {
    -webkit-box-pack:justify;-webkit-justify-content:space-between;
    -ms-flex-pack:justify;justify-content:space-between;
}
.w-flex--justify-center {
    -webkit-box-pack:center;-webkit-justify-content:center;
    -moz-box-pack:center;-ms-flex-pack:center;justify-content:center;
}
.w-flex--justify-end {
    -webkit-box-pack:end;-webkit-justify-content:flex-end;
    -moz-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;
}
.w-flex--column {
    -webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;
    -moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;
}

/* Spacings */
.w-space-60 {margin-bottom:var(--space-60);}

/* Titles */
.heading-1 {
    --sw:0.08em; /* stroke width */
    --swm:calc(-1 * var(--sw)); /* stroke width */

    font-size:var(--size-96); font-weight:400;
    line-height:0.88; text-align:center;
    color:var(--color-neutral);

    text-shadow:var(--sw) var(--sw) 0 var(--color-brown),
    var(--swm) var(--swm) 0 var(--color-brown),
    var(--sw) var(--swm) 0 var(--color-brown),
    var(--swm) var(--sw) 0 var(--color-brown),
    0 var(--sw) 0 var(--color-brown),
    var(--sw) 0 0 var(--color-brown),
    0 var(--swm) 0 var(--color-brown),
    var(--swm) 0 0 var(--color-brown);
}

/*******************************
 * Scene
 *******************************/
.scene-container {
    transform:none !important; width:100%;
}
scene {
    display:block;
    position:absolute; top:0; left:0; right:0; bottom:0;
}

/*******************************
 * Buttons
 *******************************/
.button {
    --width:60px;
    --height:58px;

    display:inline-block;;
    position:relative;
    background:transparent;
    width:var(--width); height:var(--height);
}
.button svg {position:absolute; top:0; left:0; width:100%;}
.button:active svg {transform:scale(.9);}

.button.how-to {--width:var(--btn-width-how-to); --height:var(--btn-height-how-to);}
.button.play {--width:var(--btn-width-play); --height:var(--btn-height-play);}

/* button toggle */
.button.toggle svg {display:none;}
.button.toggle.active .on,
.button.toggle:not(.active) .off {display:block;}


/*******************************
 * Nav
 *******************************/
.top-nav {
    position:fixed; top:0; left:0; width:100%;
    display:flex; justify-content:space-between; align-items:center;
    padding:var(--space-h) var(--space-h) 0;
}
.bottom-nav {
    position:fixed; bottom:var(--space-h); left:50%;
    transform:translateX(-50%);
    padding:0 var(--space-h);
}

.nav-block {display:flex; flex-wrap:wrap;}
.nav-block > button:not(:last-child) {margin-right:18px;}


/*******************************
 * Scene: Menu
 *******************************/
.welcome {
    position:fixed; top:var(--space-30); bottom:var(--space-v); left:50%;
    transform:translate(-50%, 0);
}
.welcome-image {width:95vw; max-width:900px;}
.welcome-hole {width:60vw; max-width:360px;}

@media only screen and (max-width:768px) {
    .welcome {top:100px;}
}


/*******************************
 * Popup
 *******************************/
.w-popup {
    --border-width:12px;
    --border-radius:22px;
    --width:930px;
    --height:460px;

    position:fixed; top:0; left:0; width:100vw; height:100vh;
    background-color:rgba(0, 0, 0, .5);
    padding:var(--space-h);
}
.w-popup-title {margin-bottom:-0.65em;}
.w-popup-content {
    border:var(--border-width) solid var(--color-brown-dark); border-radius:var(--border-radius);
    background-color:var(--color-neutral);
    width:100vw; max-width:var(--width); min-height:var(--height);
}