
.scene-container {
    transform:none !important; width:100%;
}
scene {
    display:block;
    position:absolute; top:0; left:0; right:0; bottom:0;
    background-color:red;
}

/*******************************
 * Buttons
 *******************************/
.button {
    display:block;
    position:relative;
    background:transparent;
    width:60px; height:58px;
}
.button svg {position:absolute; top:0; left:0; width:100%;}
.button:active svg {transform:scale(.9);}

.button.how-to {width:94px; height:90px;}
.button.play {width:120px; height:120px;}

/* button toggle */
.button.toggle svg {display:none;}
.button.toggle.active .on,
.button.toggle:not(.active) .off {display:block;}

/*******************************
 * Nav
 *******************************/
.top-nav {
    position:fixed; top:0; left:0; width:100%;
    display:flex; justify-content:space-between; align-items:center;
    padding:70px 70px 0;
}
.bottom-nav {
    position:fixed; bottom:0; left:0; width:100%;
    display:flex; justify-content:center;
    padding:0 70px 70px;
}

.nav-block {display:flex; flex-wrap:wrap;}
.nav-block > button:not(:last-child) {margin-right:18px;}


/*******************************
 * Scene: Menu
 *******************************/
.welcome {
    position:fixed; top:50%; left:50%;
    transform:translate(-50%, 50%);
}