/*******************************
 * Variables
 *******************************/
:root {

    --btn-width:60px;
    --btn-height:58px;
    --btn-width-how-to:94px;
    --btn-height-how-to:90px;
    --btn-width-play:136px;
    --btn-height-play:132px;
    --btn-width-level:116px;
    --btn-height-level:112px;

    --space-h:50px;
    --space-v:50px;

    --space-60:60px;
    --space-50:50px;
    --space-30:30px;

    --font-primary:"LuckiestGuy", cursive;

    --color-neutral:#f8e8ce;
    --color-brown:#7d5628;
    --color-brown-dark:#754c29;
    --color-red:#ed6d70;
    --color-cyan:#00b7ed;

    --size-96:96px;
    --size-64:64px;
    --size-24:24px;
}

/*******************************
 * Responsive
 *******************************/
@media only screen and (max-width:768px) {
    :root {
        --space-h:20px;
        --space-v:30px;

        --btn-width:48px;
        --btn-height:46px;
        --btn-width-how-to:var(--btn-width);
        --btn-height-how-to:var(--btn-height);
        --btn-width-play:108px;
        --btn-height-play:104px;
    }
}